<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="My_Form::customer_form" title="Customer Form" module="My_Form" parent="Magento_Customer::customer" sortOrder="10" action="form/form/index" resource="My_Form::customer_form"/>
    </menu>
</config>